<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fake-Off!</title>

    <script src="jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--<script src = "popup.js"></script>-->

</head>

<body>

    <h1>Enter URL:</h1>
    <input type="text" value="" placeholder="ex:amamzon.in/geeez" id="link">
    <button onclick="send()">Test</button>
    <br>
    <ul id="alert"></ul>
    <!--<input id="prodLink" type="submit" value="Submit" />-->

    <div id="ans"></div>
</body>
<script>
    function send() {
        var x = document.getElementById("link").value;
        respon_json = {
            'text': x
        }
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: "http://127.0.0.1:5000/url", //localhostURL
            traditional: "true",
            data: JSON.stringify(respon_json),
            dataType: "json",
            success: function(response) {
                //define function here. or what
                //document.getElementById("speed").innerHTML =`Speed: ${response.response[0]}`;
                document.getElementById("alert").innerHTML = response.response;
            }
        });

    }
</script>

</html>